:root {
    --color-primario: #2D5CEA;
    --color-fondoGris:#B9B9B9;
    --color-hover:#585353;
    --color-grisSecciones:#D9D9D9;
    --color-gris-texto:#4A526B;
    
}

@media screen  and (max-width: 780px){

    /* =====index.html ====*/
    .index #contenedor{
        background-image: url('imagenes/imgPresentacion.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding: 25px 55px;
        position: relative;
        height: 100vh;
        box-sizing: border-box;

    }
    #parteDerecha{
        display: none;

    }
    #parteIzq{
        position: relative;
        width: 100%;
        z-index: 3;
    }
    #contenedor::before{
        content: "";
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 22, 89, 0.7);
        z-index: 1;
    }
    #presentacion{
        margin: 40px;
    }
    html{
        width: 100%;
    }
/* ===== inicio.html====*/
    body.inicio{
        width: 100%;
        overflow-x: hidden;
    }

    
    .inicio .contenedor-gen{
        justify-content: center;
        position: relative;
        align-items: center;
      /*  flex-wrap: wrap;*/
        
    }
    .inicio .header-gen{
        width: 100%;
    }
    .inicio .panelCentral-gen{
        margin:0;
       /* padding: 0 20px;*/
        width: 100%;
    }
    .inicio #parteSuperior{
        width: 100%;
        display: flex;

        justify-content: center;
    }
    .inicio #contenedorSeleccion .secciones, .inicio #contenedorSeleccion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    

    #contenedor-busqueda{
        transform: scale(0.7);
    }

    .inicio #calendario{
        display: none;
    }
    
    .btnSubir a{
        z-index: 2;
    }

    /* ===== login.html y registro.html ====*/
    .login, .registro {
        background-color: var(--color-primario);

    }
    body.login{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    

    .login .contenedor-gen .header-gen, .registro .contenedor-gen .header-gen{
        justify-content: center;
        height: 200px;
        position: relative;
        margin-top: 50px;
    }
    body.login .panelCentral-gen, body.registro .panelCentral-gen{
        padding: 0 60px ;
        background-color: var(--color-primario);
        justify-content: flex-start;
        min-height: auto;
        
    }

    .login .logoHeader-gen, .registro .logoHeader-gen{
        height: 120px;
    }

     /* ===== misDatos.html ======*/
     body.misDatos{
        width: 100%;
        overflow-x: hidden;
    }

    .misDatos .contenedor-gen{
        justify-content: center;
        position: relative;
        align-items: center;
      /*  flex-wrap: wrap;*/
        
    }
    .misDatos .header-gen{
        width: 100%;
    }

     .areaDatos form .contenedorInputHorizontal{
        display: flex;
        flex-direction: column;
        gap: 0;

     }
     .areaDatos{
        height: auto;
     }
     .correoSeccion, .telefonoSeccion{
        width: 100%;
        
     }

     .panelCentral-Mdatos{
        padding: 50px 50px;

        
    }


    /* ===== misReservas.html ======*/
    .misReservas .panelCentral-Reservas{
        max-width: 100%;
        margin-right: 0;
        padding: 50px;
     }

     /* ===== misFavoritos.html ======*/
    .misFavoritos .panelCentral-favoritos{
        max-width: 100%;
        margin-right: 0;
        padding: 50px;
     }


     /* ==== local.html  ====*/
     .local .panelCentral-gen{
        max-width: 100%;
        margin: 0;
        min-height: auto;
     }
     body.local {
        width: 100%;
        overflow-x: hidden;
    }
     .local .contenedor-gen{
       max-width: 100%;

     }
     .local .panelSuperior{
        gap: 20px;
        display: flex;
        columns: 2;
        flex-direction: row;
        align-items: center;
        justify-content: center;

     }

     .local .panelSuperior .panelSuperior-derecha, .local .panelSuperior .panelSuperior-izq{
        width: 50%;
     }

     .local .panelSuperior-izq .carousel, .panelSuperior-derecha-info, .local .botonesReservar-compartir-like{
        width: 100%;
     }
     .local h1{
       font-size: 26px;
     }
     .local h2{
        font-size: 22px;
     }
     .local h3{
        font-size: 18px;
     }
     
     .local .text strong, .local .precio{
        font-size: 16px;
     }

     .local .local-info, .local .text, .local h4, .local p{
            font-size:14px;
     }
     .local .local-info .icon{
        width: 25px;
     }

     .local .botonesReservar-compartir-like .btn-reservar, .local .btn-agregarComentario{
        width: auto;
        margin: 0;
     }
     .local .botonesReservar-compartir-like {
        justify-content: space-between;
        column-gap: normal;
        transform: scale(0.9);
     }

     .local .botonesReservar-compartir-like .btn-like i, .local .botonesReservar-compartir-like .btn-compartir img{
        width: auto;
     }
     .local .calendario, .local .panel-opiniones-container, .local .cards-wrapper{
        column-gap:10px ;
     }
     .local .calendario img, .local .estrellas img {
        width:45%;
        
     }
 
     .local .card{
        width: 100%;
        margin: 0;
     }
     .local .card .center-Comments img{
        width: 100%;
     }

     .local .panel-opiniones-container {
        flex-direction: column;
        row-gap: 10px;
     }

     .local #contenedor-busqueda{
        justify-content: left;
     }
     .local #contenedor-busqueda .barraBusqueda{
        margin-left:30px;
     }
     
          /* ======inicioFiltros=====*/
          .inicioFiltros .resultado{
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 5%;
            margin: 20px;
        }
        .inicioFiltros .filtros{
            display: none;
        }
        .inicioFiltros .imagen-resultado{
            width: 100%;
            border-radius: 25px;
        }

        .panelSuperior-derecha-info{
            transform: scale(0.8);
        }
}

@media screen and (min-width: 781px ) and (max-width:1380px) {
    .local  .v2{
        display: none;
     }
    .local .panelSuperior-derecha{
        transform: scale(0.8);
     }
     .local .panelSuperior-izq, .local .panelSuperior-izq .carousel{
        width: 320px;
     }
     .local .panelSuperior{
        column-gap: 0;
      /*  justify-content: center;*/
     }
     /*LocalFiltros*/
     
    
    .imagen-resultado{
        border-radius: 10px;
        width: 100%;
        height: 50%;
    }
    .resultado{
        border-radius: 10px;
        width: 100%;
        align-items: center;
    }
    .filtros{
        width: 30%;
    }
    .filtros h3{
        font-size: 20px;
    }
    .filtros label, .filtros input{
        font-size: 14px;
    }
    .categorias-filtro{
        margin-left: 10px;
    }
    
}


@media screen  {
    .local .barraBusqueda{
        width: 400px;
    }
}

@media screen and (max-width: 720px) {
    .local .header-gen .derechaHeader-gen{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .local .btnAcceder-gen{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filtros{
        width: 30%;
    }
}


@media screen  and (max-width: 460px){

     /* =====index.html ====*/
    #contenedor{
        padding: 0;
    }

    .img-logo{
        width: 45%;
    }
    #presentacion{
        margin: 40px;
    }

    /* ===== login.html y registro.html ====*/


    body.login .panelCentral-gen, body.registro .panelCentral-gen{
        padding: 0 60px ;
        background-color: var(--color-primario);
        justify-content: flex-start;
        
    }
    .login .logoHeader-gen, .registro .logoHeader-gen{
        height: 120px;
        
    }
    #recuadroRegistro, .recuadroLogin{
       
        transform: scale(0.8);
        margin-top: -70px;
    }

    /* ===== inicio.html ======*/

    .inicio #contenedorSeleccion .secciones{
        width: 20px;
        font-size: 12px;
        margin: 5px 5px;
    }

    .inicio .barraBusqueda{
        width: 400px;
    }

    .inicio #parteInferiorGrid-gen{
        padding-top: 0;
        margin: 0;
    }


    /* ===== misDatos.html ======*/
    .divCards{
        width: 90%;
    }
    .btnPago{
        padding: 10px;
    }

    /* ===== misReservas.html ======*/
    .misReservas .panelCentral-Reservas{
        padding: 20px 0;
     }
     /* ===== misFavoritos.html ======*/
     .misFavoritos .panelCentral-favoritos{
        padding: 20px 0;
     }

     /* ======inicioFiltros=====*/
     .inicioFiltros .resultado{
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin: 20px;
    }
    .inicioFiltros .filtros{
        display: none;
    }
    .inicioFiltros .imagen-resultado{
        width: 100%;
        border-radius: 25px;
    }
    .filtros{
        width: 30%;
    }

}


@media  screen and (max-width: 520px){
    .local .panelSuperior{
        flex-direction: column;
    }
    .local .panelSuperior .panelSuperior-izq, .local .panelSuperior .panelSuperior-derecha{
        width: 100%;
    }
}
    

