:root {
    --color-primario: #2D5CEA;
    --color-fondoGris:#B9B9B9;
    --color-hover:#585353;
    --color-grisSecciones:#D9D9D9;
    --color-gris-texto:#4A526B;
    
}

@media screen  and (max-width: 780px){

    /* =====index.html ====*/
    .index #contenedor{
        background-image: url('imagenes/imgPresentacion.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        padding: 25px 55px;
        position: relative;
        height: 100vh;
        box-sizing: border-box;

    }
    #parteDerecha{
        display: none;

    }
    #parteIzq{
        position: relative;
        width: 100%;
        z-index: 3;
    }
    #contenedor::before{
        content: "";
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 22, 89, 0.7);
        z-index: 1;
    }
    #presentacion{
        margin: 40px;
    }
    html{
        width: 100%;
    }
/* ===== inicio.html====*/
    body.inicio{
        width: 100%;
        overflow-x: hidden;
    }

    
    .inicio .contenedor-gen{
        justify-content: center;
        position: relative;
        align-items: center;
      /*  flex-wrap: wrap;*/
        
    }
    .inicio .header-gen{
        width: 100%;
    }
    .inicio .panelCentral-gen{
        margin:0;
       /* padding: 0 20px;*/
        width: 100%;
    }
    .inicio #parteSuperior{
        width: 100%;
        display: flex;

        justify-content: center;
    }
    .inicio #contenedorSeleccion .secciones, .inicio #contenedorSeleccion{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    

    #contenedor-busqueda{
        transform: scale(0.7);
    }

    .inicio #calendario{
        display: none;
    }
    
    .btnSubir a{
        z-index: 2;
    }

    /* ===== login.html y registro.html ====*/
    .login, .registro {
        background-color: var(--color-primario);

    }
    body.login{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    

    .login .contenedor-gen .header-gen, .registro .contenedor-gen .header-gen{
        justify-content: center;
        height: 200px;
    }
    body.login .panelCentral-gen, body.registro .panelCentral-gen{
        padding: 0 60px ;
        background-color: var(--color-primario);
        justify-content: flex-start;
        min-height: auto;
        
    }

    .login .logoHeader-gen, .registro .logoHeader-gen{
        height: 120px;
    }

     /* ===== misDatos.html ======*/
     body.misDatos{
        width: 100%;
        overflow-x: hidden;
    }

    .misDatos .contenedor-gen{
        justify-content: center;
        position: relative;
        align-items: center;
      /*  flex-wrap: wrap;*/
        
    }
    .misDatos .header-gen{
        width: 100%;
    }

     .areaDatos form .contenedorInputHorizontal{
        display: flex;
        flex-direction: column;
        gap: 0;

     }
     .areaDatos{
        height: auto;
     }
     .correoSeccion, .telefonoSeccion{
        width: 100%;
        
     }

     .panelCentral-Mdatos{
        padding: 50px 50px;

        
    }

}


@media screen  and (max-width: 460px){

     /* =====index.html ====*/
    #contenedor{
        padding: 0;
    }

    .img-logo{
        width: 45%;
    }
    #presentacion{
        margin: 40px;
    }

    /* ===== login.html y registro.html ====*/


    body.login .panelCentral-gen, body.registro .panelCentral-gen{
        padding: 0 60px ;
        background-color: var(--color-primario);
        justify-content: flex-start;
        
    }
    .login .logoHeader-gen, .registro .logoHeader-gen{
        height: 120px;
        
    }
    #recuadroRegistro, .recuadroLogin{
       
        transform: scale(0.8);
        margin-top: -70px;
    }

    /* ===== inicio.html ======*/

    .inicio #contenedorSeleccion .secciones{
        width: 20px;
        font-size: 12px;
        margin: 5px 5px;
    }

    .inicio .barraBusqueda{
        width: 400px;
    }

    .inicio #parteInferiorGrid-gen{
        padding-top: 0;
        margin: 0;
    }


    /* ===== misDatos.html ======*/
    .divCards{
        width: 90%;
    }
    .btnPago{
        padding: 10px;
    }
}
